//COLORS

$white:#fff;
$isabelline:#ececec;
$light-gray:#d1d1d1;

$smoky-black:#0c0910;
$granite-gray:#646266;
$quick-silver:#a6a5a8;

//TYPOGRAPHY

$old-standard-tt:'Old Standard TT', sans-serif;
$raleway:'Raleway', sans-serif;

//FONT WEIGHT

$regular:400;
$bold:700;

//FONT SIZES

$xxx-large:4.7rem;
$xx-large:1.875rem;
$x-large:1.25rem;
$large:1.125rem;
$medium:1rem;
$small:0.875rem;
